.LinkItem {
  margin: 1em 0;
}

.LinkItem-link-heading {
  margin: 0;
}

.LinkItem-link {
}

.LinkItems-tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.LinkItems-tag {
}

.LinkItems-tag:not(:first-child) {
  margin-left: 0.25em;
}

.LinkItems-tag:not(:last-child) {
  margin-right: 0.25em;
}
